* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #ddd;
}

.menu a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.btn-book {
  background: #ccc;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
}

/* HERO */
.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  background: red;
  color: white;
  padding: 10px 20px;
  border-radius: 50%;
}

/* SERVICES */
.services {
  padding: 40px;
  text-align: center;
}

.services h2 {
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

/* INFO */
.info {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.info-box {
  background: #eee;
  padding: 20px;
  border-radius: 10px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background: #ddd;
}
